<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/statistics.css" rel="stylesheet">
</head>
<body onload='setInterval(function(){refresh()}, ${refreshPeriod?c} ); setClientTime();'>
<div class="wrapper">
    <div class="greeting">
        <span>Hello, ${login}!</span>
    </div>

    <div>
        <table>
            <caption>UserDataSet cache parameters</caption>
            <tr>
                <td>Max Elements</td>
                <td>${maxElements?c}</td>
            </tr>
            <tr>
                <td>Life Time, ms</td>
                <td>${lifeTimeMs?c}</td>
            </tr>
            <tr>
                <td>Idle Time, ms</td>
                <td>${idleTimeMs?c}</td>
            </tr>
            <tr>
                <td>Is Eternal</td>
                <td>${isEternal?c}</td>
            </tr>

        </table>
    </div>

    <div>
        <table>
            <caption>UserDataSet cache statistics</caption>
            <tr>
                <td>Hit</td>
                <td>${hitCount?c}</td>
            </tr>
            <tr>
                <td>Miss</td>
                <td>${missCount?c}</td>
            </tr>
        </table>
    </div>

    <script src="js/statistics.js" type="text/javascript"></script>
</div>
</body>
</html>